html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --border: 1px solid white;
}
body {
  color: white;
  background: black;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 8rem;
  border-bottom: 1px solid white;
  padding: 2.5rem;
}

.container {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
h2 {
  font-size: 6rem;
}

button {
  width: 30rem;
  padding: 2rem;
  font-size: 3rem;
  border-radius: 1rem;
  border: unset;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: gray;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
}

.cell {
  padding: 8rem;
}

.cell.empty {
  cursor: pointer;
}

.cell.empty:hover {
  background: red;
}

.board .cell:nth-child(1),
.board .cell:nth-child(3),
.board .cell:nth-child(4),
.board .cell:nth-child(6) {
  border-bottom: var(--border);
}

.board .cell:nth-child(2),
.board .cell:nth-child(5) {
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.board .cell:nth-child(8) {
  border-left: var(--border);
  border-right: var(--border);
}
